BR2_mipsel=y
BR2_mips_32r2=y
BR2_DL_DIR="../dl"
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_ENABLE_LOCALE_PURGE=y
BR2_ENABLE_LOCALE_WHITELIST="C"
BR2_TARGET_GENERIC_HOSTNAME="bratwurst"
BR2_TARGET_GENERIC_ISSUE="Welcome to BRatWuRsT"
BR2_INIT_NONE=y
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_OVERLAY="../overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="../board/qemu/mipsel/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="../board/qemu/mipsel/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_SAME_AS_HEADERS=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="../board/qemu/mipsel/linux.config"
BR2_PACKAGE_BUSYBOX_CONFIG="../board/qemu/mipsel/busybox.config"
BR2_PACKAGE_DNSMASQ=y
# BR2_PACKAGE_DNSMASQ_TFTP is not set
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_NFTABLES=y
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_CUSTOM=y
BR2_TARGET_ROOTFS_JFFS2_CUSTOM_PAGESIZE=0x800
BR2_TARGET_ROOTFS_JFFS2_CUSTOM_EBSIZE=0x10000
# BR2_TARGET_ROOTFS_TAR is not set
